<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" role="navigation">
    <a class="navbar-brand" href="/">PugliaEventi Rec.</a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776;
    </button>
    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="/close_places" class="nav-link">Places</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Events</a></li>
        </ul>

        {% if user.is_authenticated %}
            <span class="navbar-text">Welcome, {{ email_splitted }}</span>
            <ul class="nav navbar-nav flex-row justify-content-between">

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/my_places">My places</a>
                        <a class="dropdown-item" href="/my_profile">My profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>

        {% else %}
            {% if message %}
                <span class="navbar-text" style="color:red;">{{ message }}</span>
            {% endif %}
            <ul class="nav navbar-nav flex-row justify-content-between">
                <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                       <li class="px-3 py-2">
                           <form class="form" role="form" method="post" action="/login/" accept-charset="UTF-8" id="login-nav">
                               {% csrf_token %}
                                <div class="form-group">
                                    <input id="emailInput" name='username' placeholder="Email" class="form-control form-control-sm" type="text">
                                </div>
                                <div class="form-group">
                                    <input id="passwordInput" name="password" placeholder="Password" class="form-control form-control-sm" type="password">
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="path" value="{{ request.path }}">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                                <div class="form-group text-center">
                                    <small>New here ? <a href="/register/"><b>Join Us</b></a></small>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>

        {% endif %}
    </div>
</nav>