{% load static %}

<link rel="stylesheet" href="{% static "css/bootstrap-4.1.3.min.css" %}" crossorigin="anonymous">
<script src="{% static "js/jquery-3.3.1.slim.min.js" %}" crossorigin="anonymous"></script>
<script src="{% static "js/popper.min.js" %}" crossorigin="anonymous"></script>
<script src="{% static "js/bootstrap-4.1.3.min.js" %}" crossorigin="anonymous"></script>

<!-- Google Fonts -->
<link href='{% static "css/font-passion-one.css" %}' rel='stylesheet' type='text/css'>
<link href='{% static "css/font-oxygen.css" %}' rel='stylesheet' type='text/css'>

<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous">

<style>
    button:focus {
        outline: 0;
    }

    .navbar .dropdown-menu .form-control {
        width: 230px;
    }

    body {
        padding-top: 4.5em;
    }

    @media (min-width: 576px) {
        .card-columns {
            column-count: 2;
        }
    }

    @media (min-width: 768px) {
        .card-columns {
            column-count: 3;
        }
    }

    @media (min-width: 992px) {
        .card-columns {
            column-count: 4;
        }
    }

    @media (min-width: 1200px) {
        .card-columns {
            column-count: 5;
        }
    }

    label {
        padding-right: 0.5em;
    }

    .bd-example-modal-lg .modal-dialog {
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }

    .bd-example-modal-lg .modal-dialog .modal-content {
        background-color: transparent;
        border: none;
    }

    .my-4 {
        margin-bottom: 1.5rem !important;
    }

</style>