{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pugliaeventi Rec.</title>

    {% include 'head_css_js.html' %}

</head>
    <body>
        <div class="container-fluid">

            {% include 'header.html' %}


            {% if user.is_authenticated %}
                {% for context_places in user_places_per_context %}
                    <hr />
                    <h5 class="text-center">Places you like to go to when you are <strong>{{ context_places.mood }}</strong> and <strong>{{ context_places.companionship }}</strong>: </h5>
                    <hr />
                    <div class="card-columns">
                        {% for place in context_places.places %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'place_details' place_id=place.placeId %}">{{ place.name }}</a></h5>
                                <p class="card-text"><strong>Labels:</strong> {{ place.labels }}</p>
                                <p class="card-text"><small class="text-muted">{{ place.location }}</small></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                 {% endfor %}
            {% endif %}

        </div>
    </body>
</html>