{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pugliaeventi Rec.</title>

    {% include 'head_css_js.html' %}

</head>
    <body>
        <div class="container-fluid">

            {% include 'header.html' %}

            <h5 class="text-center">Search places close to you</h5>

            {% if user.is_authenticated %}
                 <form  method="post" action="{% url 'close_places' %}">
                 {% csrf_token %}
                  <div class="form-inline justify-content-center">
                    <div class="col-auto my-1">
                      {{ search_form.km_range|as_crispy_field }}
                    </div>
                    <div class="col-auto my-1">
                      <button type="submit" class="btn btn-primary" onclick="modal();">Search</button>
                    </div>
                  </div>
                 </form>
            {% endif %}

            <hr />

            <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="width: 48px">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </div>
                </div>
            </div>

            <div class="card-columns">
                {% for place in close_places %}
                    <div class="card">

                    <div class="card-body">
                        <h5 class="card-title"><small class="text-muted">{{ forloop.counter }}: </small>{{ place.name }}</h5>
                      <p class="card-text"><strong>Labels:</strong> {{ place.labels }}</p>
                      <p class="card-text"><small class="text-muted">{{ place.location }}</small></p>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>

        <script>
            function modal() {
               $('.modal').modal('show');
               setTimeout(function () {
                console.log('hejsan');
                $('.modal').modal('hide');
               }, 3000);
            }
        </script>

    </body>
</html>